## Imputer et prédire nos données manquantes

In [21]:
#Importation de la base de donnée
import pandas as pd

df = pd.read_excel("/Users/admin/Desktop/MIASHS/MasterM1SSD/ProjetNA/NA.xlsx", sheet_name=None)  # dict: nom_feuille -> DataFrame
df
df = df["Feuille 1"]

#df = df['Feuil1']
# Exemple d'accès à une feuille:
df.head()

,Country,Quality Score,SDGi,Life Expectancy,HDI,Per Capita GDP,Region,Income Group,Population (millions),Cropland Footprint,...,Cropland,Grazing land,Forest land,Fishing ground,Built up land.2,Total biocapacity,Ecological (Deficit) or Reserve,Number of Earths required,Number of Countries required,actual \nCountry Overshoot Day \n2018
0,Afghanistan,3A,53.9,64.486,0.509,564.617383,Middle East/Central Asia,LI,37.171898,0.139393,...,0.139393,0.157740,0.014377,0.000000,0.028433,0.339943,-0.342312,0.431091,2.006970,NaT
1,Albania,3A,71.0,78.458,0.792,5046.032611,Other Europe,UM,2.882740,0.362065,...,0.362065,0.195718,0.310590,0.082072,0.042248,0.992693,-0.893765,1.191981,1.900343,1900-11-01 05:06:29.557
2,Algeria,3A,70.9,76.693,0.746,4759.830054,Africa,UM,42.228398,0.249653,...,0.249653,0.249356,0.025333,0.007541,0.037283,0.569166,-1.771742,1.479132,4.112872,1900-09-02 18:23:39.042
3,Angola,3A,50.3,60.782,0.582,3233.902767,Africa,LM,30.809801,0.210919,...,0.210919,0.918249,0.486000,0.175160,0.046437,1.836766,0.974922,0.544567,0.469218,NaT
4,Antigua and Barbuda,2B,NaN,76.885,0.772,15134.91009,Central America/Caribbean,HI,0.096286,NaN,...,NaN,NaN,NaN,NaN,NaN,0.856509,-3.798584,2.941377,5.434962,1900-05-03 02:11:50.646

In [ ]:
Y_col = "actual \nCountry Overshoot Day \n2018"
X_cols = [col for col in df.columns if col != Y_col]

df_supervised = df.dropna(subset=X_cols + [Y_col])

df_semi_Xcomplete_Ymissing = df.dropna(subset=X_cols)# X complets
df_semi_Ycomplete_Xmissing = df.dropna(subset=[Y_col])# Y complet

df_unsupervised = df.copy()

print("NOMBRE DE LIGNES PAR MÉTHODE :")
print(f"Supervisé (aucune NA) : {len(df_supervised)}")
print(f"Semi-supervisé 1 (X complets, Y manquant) : {len(df_semi_Xcomplete_Ymissing)}")
print(f"Semi-supervisé 2 (Y complet, X manquant) : {len(df_semi_Ycomplete_Xmissing)}")
print(f"Non supervisé (toutes les lignes) : {len(df_unsupervised)}")

NOMBRE DE LIGNES PAR MÉTHODE :
Supervisé (aucune NA) : 109
Semi-supervisé 1 (X complets, Y manquant) : 148
Semi-supervisé 2 (Y complet, X manquant) : 132
Non supervisé (toutes les lignes) : 184